.copy_right_footer 
  {
   position: fixed;
   color: goldenrod;
   bottom: 0;
   width: 100%;
   background-color: black;
   line-height: 3;
   text-align: center;
   animation-name: example;
   animation-duration: 4s;
   animation-iteration-count: infinite;
  }
#heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#note
{
    font-size: 15px;
}
@keyframes example 
{
    from {box-shadow: 1px 1px 38px gold;}
    to {box-shadow: 1px 1px 38px goldenrod;}
}
canvas
{
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
    padding:5px;
    margin:0px;
}